<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProgressHUB</title>
    <link rel="stylesheet" href="template.css">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">


    

</head>

<body background="../static/images/ball-63527.jpg" opacity="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">PSAR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/contest">Contest<span class="sr-only"></span></a>
      </li>
      
      
    </ul>
    
    <ul class="navbar-nav">
        {% if not current_user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>
      {% endif %}

      {% if current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="/detail">Manager</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% endif %}
  </div>

</nav>

{% block main %}

{% endblock %}
   <script>
    
        function copyText(item) {
          item2=""
          for(let i=0;i<item.length;i++)
          {
            item2+=item[i];
          }
          console.log(item2)
            /* Copy text into clipboard */
            navigator.clipboard.writeText
                (item2);
                alert("copied")
        }
         
function showpassword(data) {
    var x = document.getElementById(`mytemp${data}`);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}



      
    </script>


</body>


</html>
